{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}
{% form_theme gameForm 'bootstrap_4_layout.html.twig' %}

{% block main %}
    <section>
        <article id="game-form">
            <h1>creation d un article</h1>

            {{ form_start(gameForm) }}

            {{ form_row(gameForm.title, {'attr': {'placeholder': 'Nom du jeux'}}) }}
            {{ form_row(gameForm.publisher) }}
            {{ form_row(gameForm.category) }}
            {{ form_row(gameForm.description, {'attr': {'placeholder': 'Description du jeux'}}) }}
            {{ form_row(gameForm.imageFile)  }}
            {{ form_row(gameForm.rule, {'attr': {'placeholder': 'http://....'}})  }}

            <button type="submit" class="btn btn-success">
                {% if editMode %}
                    Modifier
                {% else %}
                    Ajouter
                {% endif %}
            </button>

            {{ form_end(gameForm) }}
        </article>

    </section>

{% endblock %}
