{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block main %}
     <section>
        <article class="#">
            <form class="example" action="{{ path('games_search') }}" method="get">
                <input type="text" placeholder="Search.." name="titre">
                <button type="submit">Search</button>
            </form>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </article>
     </section>
    <section>
        <h1>Tous les jeux disponibles</h1>
        <article class="card-show">
            {% for game in games %}
                <div class="card">
                    <img src="{{ asset('assets/img/pictures') }}/{{ game.picture }}" alt="" class="resp">
                    <div class="container">
                        <a href="{{ path('games_show', {'id': game.id}) }}"><h4><b>{{ game.title }}</b></h4></a>
                    </div>
                </div>
            {% endfor %}
        </article>
    </section>
{% endblock %}
