{% extends 'base.html.twig' %}

{% block title %}Hello GamesRulesController!{% endblock %}

{% block main %}
    <section class="game-section">
        <article class="game-article">
            <div class="game-info">
                <div class="game-img">
                    <img src="{{ asset('assets/img/pictures') }}/{{ game.picture }}" alt="" class="resp">
                </div>
                <div class="game-detail">
                    <div class="game-title">{{ game.title }}</div>
                    <div class="game-publisher">Edition: {{ game.publisher.title }}</div>
                    <div class="game-category">Categorie: {{ game.category.title }}</div>
                    <a href="{{ game.rule }}"  target="_blank"><button class="button-rule">Regle du Jeu</button></a>
                </div>
            </div>
            <div class="game-description"><p>{{ game.description }}</p></div>
        </article>
    </section>
    <section id="commentaires">
        {% for comment in game.comments %}
        <div class="comment">
            <div class="comment-author">
                {{ comment.author }} (<small>{{ comment.createdAt|date('d/m/Y') }}</small>)
            </div>
            <div class="comment-content">
                {{ comment.content }}
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}