{% extends 'base.html.twig' %}

{% block title %}Hello GamesRulesController!{% endblock %}

{% block main %}
    <section class="game-section">
        <article class="game-article">
            <div class="game-info">
                <div class="game-img">
                    <img src="{{ asset('assets/img/pictures') }}/{{ game.picture }}" alt="" class="resp">
                </div>
                <div class="game-detail">
                    <div class="game-title">{{ game.title }}</div>
                    <div class="game-publisher">Edition: {{ game.publisher.title }}</div>
                    <div class="game-category">Categorie: {{ game.category.title }}</div>
                    <a href="{{ game.rule }}"  target="_blank"><button class="button-rule">Regle du Jeu</button></a>
                </div>
            </div>
            <div class="game-description"><p>{{ game.description }}</p></div>
        </article>
    </section>
    <section class="comment-box">
        {% for comment in game.comments %}
            <div class="card-comment border-secondary mb-3" >
                <div class="card-header">{{ comment.author }} (<small>{{ comment.createdAt|date('d/m/Y') }}</small>)</div>
                <div class="card-body text-secondary">

                    <p class="card-text">{{ comment.content }}</p>
                </div>
            </div>
        {% endfor %}
    </section>
    {% if is_granted('ROLE_USER') %}
        <div class="row justify-content-center">
            <div class="col-md-6 col-md-offset-3">
                <div class="comment-form">
                    {{ form_start(commentForm) }}
                    {{ form_row(commentForm.author, {'attr':{'placeholder' : "Votre nom"}}) }}
                    {{ form_row(commentForm.content, {'attr':{'placeholder' : "Votre commentaire"}}) }}
                        <button type="submit" class="btn btn-success">Commenter</button>
                    {{ form_end(commentForm) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}