{% extends 'base.html.twig' %}

{% block title %}Hello GamesRulesController!{% endblock %}

{% block main %}
    <section>
        <article class="card-show">
            <div class="card">
                <img src="{{ asset('assets/img/pictures') }}/{{ game.picture }}" alt="" class="resp">
                <div class="container">
                    <h2><b>{{ game.title }}</b></h2>
                    <h3>{{ game.publisher.title }}</h3>
                    <h3>{{ game.category.title }}</h3>
                    <p>{{ game.description }}</p>
                    <a href="{{ game.rule }}">View contract (PDF)</a>

                </div>
            </div>
        </article>
    </section>
    <section id="commentaires">
        {% for comment in game.comments %}
        <div class="comment">
            <div>
                {{ comment.author }} (<small>{{ comment.createdAt|date('d/m/Y') }}</small>)
            </div>
            <div>
                {{ comment.content }}
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}