{% extends 'base.html.twig' %}

{% block title %}{{ game.title }}{% endblock %}

{% block main %}
    {#-------------------------------Game details---------------------------#}
    <section>
        <div class="container">
            <article class="row d-flex justify-content-center">
                <div class="card m-3">
                    <img class="card-img-top" src="{{ asset('assets/img/pictures') }}/{{ game.picture }}" alt="">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ game.title }}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item ">{{ game.publisher.title }}</li>
                        <li class="list-group-item ">{{ game.category.title }}</li>

                        <li class="list-group-item"><a class="btn btn-info btn-lg btn-block  mt-2" href="{{ game.rule }}"  target="_blank" role="button">Règle du Jeu</a>
                        </li>
                    </ul>
                    <div class="card-body">
                        <p class="card-text">{{ game.description }}</p>
                    </div>
                </div>
            </article>
        </div>
    </section>
{#-------------------------------Comment---------------------------#}
    <section>
        <div class="container">
            <article class="row d-flex justify-content-center">
                {% for comment in game.comments %}
                    <div class="card text-white bg-secondary mb-3">
                        <div class="card-header">{{ comment.author }} (<small>{{ comment.createdAt|date('d/m/Y') }}</small>)</div>
                        <div class="card-body bg-light text-secondary">
                            <p class="card-text">{{ comment.content }}</p>
                        </div>
                    </div>
                {% endfor %}
            </article>
        </div>
    </section>
    {#-------------------------------Add Comment as Connected---------------------------#}
    {% if is_granted('ROLE_USER') %}
        <div class="row justify-content-center">
            <div class="col-md-6 col-md-offset-3">
                <div class="comment-form">
                    {{ form_start(commentForm) }}
                    {{ form_row(commentForm.author, {'attr':{'placeholder' : "Votre nom"}}) }}
                    {{ form_row(commentForm.content, {'attr':{'placeholder' : "Votre commentaire"}}) }}
                        <button type="submit" class="btn btn-success">Commenter</button>
                    {{ form_end(commentForm) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}