{% extends 'base.html.twig' %}

{% block title %}Hello GamesRulesController!{% endblock %}

{% block main %}
    <section>
        <h1>Quel regle de jeux cherchez-vous?</h1>
        <article>
            <div class="search">
                <form action="{{ path('games_search') }}" method="get">
                    <input type="text" name="title">
                    <button type="submit">Search</button>
                </form>
            </div>
        </article>
    </section>
    <section>
        <h1>derniere Regle de jeux ajoutees</h1>
        <article class="card-show">
            {% for game in games|slice(-4) %}
            <div class="card">
                <img src="{{ asset('assets/img/pictures') }}/{{ game.picture }}" alt="" class="resp">
                <div class="container">
                    <a href="{{ path('games_show', {'id': game.id}) }}"><h4><b>{{ game.title }}</b></h4></a>
                </div>
            </div>
            {% endfor %}
        </article>
    </section>
{% endblock %}
