{% extends 'base.html.twig' %}

{% block title %}Games Rules{% endblock %}

{% block main %}
<main>
    <section>
        <div class="container search-box" >
            <article class="row align-items-center" >
                <div class="col-12 text-center " >
                    <h3>Quelle règle de jeu cherchez-vous?</h3>
                </div>
            </article>
            <article class="row align-items-center search-bar" >
                <div class="col-12 col-lg-8 text-center" >
                    <form class="form-inline " action="{{ path('games_search') }}" method="get">
                        <div class="input-group">
                            <input class="form-control " type="text" placeholder="Titre du jeu..." name="title">
                            <button type="button"  class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </article>
        </div>
    </section>
    <section>
        <div class="container" >
            <article class="row">
                <div class="col-12" >
                    <h5>Derniere Règle de jeux ajoutees</h5>
                </div>
            </article>
            <article class="row justify-content-center">
                {% for game in games|slice(-4) %}
                    <div class="card-game-home col-8" id="cardJs">
                        <a href="{{ path('games_show', {'id': game.id}) }}">
                            <img class="card-game-home-img" src="{{ asset('assets/img/pictures') }}/{{ game.picture }}" alt="Card image cap">
                        </a>
{#                        <div class="card-body">#}
{#                            <a href="{{ path('games_show', {'id': game.id}) }}"><h4>{{ game.title }}</h4></a>#}
{#                        </div>#}
                    </div>
                {% endfor %}
            </article>
        </div>
    </section>
</main>
{% endblock %}
